@page
@model BlogApp.Pages_Blog.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Blog">Blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Banner)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Blog.Banner != null)
            {
                var base64Image = Convert.ToBase64String(Model.Blog.Banner); // Convert to Base64
                var imageMimeType = "image/jpeg"; // Default MIME type

                // Detect MIME type based on image content
                if (Model.Blog.Banner.Length > 3)
                {
                    var magicBytes = Model.Blog.Banner.Take(3).ToArray();
                    if (magicBytes.SequenceEqual(new byte[] { 0x89, 0x50, 0x4E })) // PNG
                        imageMimeType = "image/png";
                    else if (magicBytes.SequenceEqual(new byte[] { 0xFF, 0xD8, 0xFF })) // JPG
                        imageMimeType = "image/jpeg";
                    else if (magicBytes.SequenceEqual(new byte[] { 0x47, 0x49, 0x46 })) // GIF
                        imageMimeType = "image/gif";
                }

                <img src="data:@imageMimeType;base64,@base64Image" alt="Blog Banner" class="banner" />
            }
            else
            {
                <p>No banner available.</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw("Content")
        </dd>
    </dl>


    <form method="post">
        <input type="hidden" asp-for="Blog.Id" />
        <a asp-page="./Index" class="btn btn-primary"><i class="bi bi-arrow-left"></i> Back to List</a>
        <button type="submit" class="btn btn-danger">
            <i class="bi bi-trash"></i> Delete
        </button>
    </form>
</div>
